{% extends 'BabyBundle::layout.html.twig' %}
{% block body %}
{% block header %}
{{ parent() }}
{% endblock %}
<div class="container">
<h1>Liste des équipes</h1>
{% for team in teams %}
{{ team.name }}
{{ team.color }}
{% endfor %}
{% for team in joueurs %}
  {% for joueur in team %}
    {{ joueur.nom}}
  {% endfor %}
{% endfor %}
</div>
{% endblock %}
