{% extends 'BabyBundle::layout.html.twig' %}
{% block body %}
{% block header %}
{{ parent() }}
{% endblock %}
<div class="container">
Liste des joueurs
<table>
{% for joueur in joueurs %}
<tr><td>{{ joueur.nom }}</td>
<td>{{ joueur.prenom }}</td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
